<footer class="site-footer">
	<div class="footer-main">
		<div class="container footer-grid">
			<section class="brand-col">

			</section>

			<section class="link-col">
				
			</section>

			<section class="link-col">
				
			</section>

			<section class="link-col">
				
			</section>

			<section class="link-col">
				<h3>Oldalak</h3>
				<a routerLink="/">Főoldal</a>
				<a routerLink="/promises">Ígéretek</a>
				<a routerLink="/stats">Statisztika</a>
				<a routerLink="/election">Választás</a>
			</section>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container bottom-row">
			
			<nav aria-label="Jogi linkek" class="legal-links">
				<a href="https://net4yard.com" target="_blank" rel="noopener noreferrer">Net4Yard </a><p> - Valóra váltjuk a lehetetlent</p>
			</nav>
		</div>
	</div>
</footer>
